.AllDeckList {
  width: 600px;
  margin: 0 0 0 250px;
  background-color: #ece3a9;
  padding: 50px;
  border-radius: 5px;
}

ul,
#myUL {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.category {
  font-size: 18px;
  font-weight: 400;
  color: rgb(49, 49, 49);
  margin: 0 210px 0 0;
  border-radius: 2px;
  background-color: rgb(243, 241, 241);
}
.category-tool {
  /*float: right;*/
  margin: 0 40px 0 0;
}

.deck-title {
  cursor: pointer;
  margin: 0 232px 0 0;
  font-size: 11pt;
  font-weight: 300;
  border-radius: 2px;
  background-color: rgb(253, 253, 241);
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  margin-bottom: 20px;
}

.caret::before {
  content: "\25B6";
  color: rgb(49, 49, 49);
  display: inline-block;
  margin-right: 6px;
}

.caret-down {
  cursor: pointer;
  margin-bottom: 20px;
}

.caret-down::before {
  content: "▼";
  margin-right: 6px;
}

.nested {
  margin-top: 5px;
  display: none;
}

.active {
  margin-top: 5px;
  display: block;
}
