.Category {
  width: 600px;
  margin: 0 0 0 250px;
  background-color: #ece3a9;
  padding: 50px;
  border-radius: 5px;
}

.category-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-list:hover .category-list-icons {
  display: block;
  margin-left: 23vw;
}

.category-list-item {
  color: rgb(73, 73, 73);
  cursor: pointer;
  font-size: 14pt;
}

.category-list-item:hover {
  color: black;
  font-size: 15pt;
  font-weight: 500;
}

.category-list-icons {
  display: none;
}

.editCategory-input:focus {
  outline: none;
}

/* Press Enter */
.editCategory-notice {
  font-style: italic;
  font-size: 9pt;
  color: grey;
  margin-left: 10px;
}

.addCategory-button {
  /* position: relative; */
}

.addCategory-icon {
  display: flex;
  justify-content: flex-end;
  /* width: 100px;
  height: 100px; */
}

.addCategory-input {
  color: rgb(155, 152, 152);
}

.addCategory-input:focus {
  outline: none;
}
