.container {
  margin: 5px;
}

.json-heading {
  color: grey;
}

.json-notice {
  color: grey;
  font-size: 11pt;
  font-style: italic;
}

.custom-file-input-json::-webkit-file-upload-button {
  display: none;
  /* visibility: hidden; */
}

#custom-file-input-json-container {
  margin: 0 0 0px 252px;
}

.custom-file-input-json {
  margin: 10px 0 0 0;
  float: left;
  display: block;
  position: relative;
  right: 2px;
  float: left;
  background-color: transparent;
}

.custom-file-input-json:focus {
  outline: none;
}

.custom-file-input-json::before {
  content: "파일 찾기";
  display: inline-block;
  color: grey;
  background: linear-gradient(to bottom, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 10pt;
  width: 52px;
  float: left;
}
