.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0 0;
}

.anonymous {
  width: 100px;
  height: px;
}

.notice {
  font-size: 14pt;
  color: white;
  background-color: #d4855b;
  padding: 1px 3px 1px 3px;
}
