.PlainText {
  margin: 0 0 0 250px;
}

.addCardField_container {
  margin-top: 10px;
  padding: 20px;
  border-radius: 0.2em;
  background-color: rgb(241, 241, 241);
}

.addCardField_select {
  font-family: "Roboto", sans-serif;
  font-size: 10pt;
  padding: 1px;
}

.addCardField_select:focus {
  outline: none;
}

.addCardField_button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0.5;
  cursor: pointer;
  margin: 10px 20px 10px 0px;
}

.addCardField_submit {
  display: flex;
  justify-content: center;
  margin: 10px 0px 30px 0px;
}
