.mypage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 0 0px;
}

.welcome {
  font-family: "Arvo", serif;
  font-size: 23px;
  color: rgb(87, 87, 87);
}

.profile {
  width: 180;
  height: 180;
}

.signout {
  width: 150px;
}
